// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Solstice colors
$white: #ffffff;
$background: #eaf3db;
$font: #052a2b;
$button: #f043ac;
$color1: #60665c;
$color2: #c6cbc5;
$color3: #e8e2d0;
