// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Solstice colors
$white: #FFFFFF;
$eggshell: #E8E2D0;
$pale-green: #C6CBC5;
$khaki: #60665C;
$dark-green: #052A2B;
$pink: #F043AC
