body {
  background-color: $background;
  margin: 0;
  padding: 0;

  .admin-links {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;

    .admin-link {
      text-decoration: none;
      color: $font;
      text-align: center;
    }
  }

  .open-shop {
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
    text-align: center;
  }
}
