.cart {
  display: flex;

  .cart-items {
    width: 60%;
    margin-top: 1em;
    border-radius: 1em;
  }

  .order-options {
    margin-top: 1em;
    margin-left: 1em;
    width: 40%;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
  }

  .category-wrapper {
    padding-left: 1em;
  }

  .warning-delivery {
    text-align: center;
    margin-top: 1em;
    border-radius: 0.5em;
  }
}
