.cart-header {
  display: flex;
  justify-content: space-between;
}
.cart {
  display: flex;

  .cart-items {
    width: 60%;
    margin-top: 0;
    border-radius: 1em;
  }

  .order-infos {
    width: 40%;
  }

  .order-user-infos {
    margin-top: 1em;
    margin-left: 1em;
    width: 100%;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
  }

  .order-transport-infos {
    margin-top: 1em;
    margin-left: 1em;
    width: 100%;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
  }

  .category-wrapper {
    padding-left: 1em;
  }

  .warning-delivery {
    text-align: center;
    margin-top: 1em;
    border-radius: 1em;
    padding: 0.5em;
  }

  .form-check-label {
    color: black !important;
  }

  .form-check-input {
    background-color: $button !important;
    border-color: $button !important;
  }
}
