// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 160px 0;
  background-image: url("banner_solstice.jpg");
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;

  .heading-home {
    font-size: 5em;
  }

  .btn-cta-home {
    background-color: $button;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    font-family: $body-font;
    font-size: 24px;
    color: white;
  }

  .home-menu {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;

    .home-menu-element {
      // position: absolute;
      height: 10em;
      width: 10em;
      background-size: cover;
      background-position: center;
    }

    .boutique {
      // left: 0%;
      // top: 0%;
    }

    .online-shop {
      // left: 10%;
      // top: 0%;
    }

    .mariage {
      // left: 20%;
      // top: 0%;
    }

    .deuil {
      // left: 30%;
      // top: 0%;
    }
  }
}
