.order-filter {
  border: solid;
  border-width: thin;
  border-radius: 0.375em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;

  .filter-label {
    font-weight: bolder;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
}

.status-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
