.order-filter {
  border: solid;
  border-width: thin;
  border-radius: 0.375em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;

  .filter-label {
    font-weight: bolder;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  .status-filter {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .transport-filter {
    margin-bottom: 1em;
  }
}

.hidden-checkbox {
  position: absolute;
  transform: scale(0);
}

.hidden-checkbox + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.375em;
  padding: 0.1rem 0.5rem;
  background-color: $white;
  color: black;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  width: 60%;
}

/* Style for the label when the checkbox is checked */
.hidden-checkbox:checked + label {
  background-color: $font; /* Change to your desired color */
  color: #fff;
}
