.recap-order-details {
  display: flex;
  justify-content: space-between;
}

.recap-order-header {
  display: flex;
  justify-content: space-between;

  .recap-order-buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
}

.recap-order-info {
  width: 40%;

  .recap-order-user-info {
    width: 100%;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
  }

  .recap-order-transport-info {
    width: 100%;
    background-color: white;
    padding: 1em;
    margin-top: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
  }

  .shop-info {
    border: solid;
    border-width: thin;
    border-radius: 1em;
    padding: 1em;
  }

  .time {
    font-size: 0.75em;
  }
}

.recap-order-items {
  width: 60%;
  padding-right: 1em;
  background-color: white;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
}
