body {
  background-color: $background;
  margin: 0;
  padding: 0;

  .category-header {
    color: $background;
    margin-top: 2em;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.75rem; /* To define the gap between rows/columns */
    gap: 0.75rem;
    padding: 0.75rem;
    justify-items: center;
  }

  .active-filter {
    background-color: black;
    color: white;
  }

  .cat-filter {
    border: solid;
    border-width: thin;
    border-radius: 0.375em;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .checkboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    span {
      margin: 0;
    }
  }

  .checkbox-hidden {
    position: absolute;
    transform: scale(0);
  }

  .checkbox-container {
    display: flex;
    align-items: center;
  }

  .checkbox-label {
    cursor: pointer;
    display: inline-block;
    border-radius: 0.375em;
    padding: 0.1rem 0.5rem;
    background-color: $color2;
    color: white;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .checkbox-hidden:checked + .checkbox-label {
    background-color: $background;
    color: #fff;
  }
}
