.product-show {
  display: flex;

  .product-info {
    padding: 1em;
    width: 40%;
    height: 100%;
    color: $font;

    .product-image {
      height: 50%;
      border-radius: 0.375em;
    }

    .carousel-inner {
      height: 50%;
      border-radius: 0.375em;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      margin: 0;
    }

    .disclaimer {
      font-size: 0.75em;
    }

    .product-desc {
      color: $font;
      margin-top: 1em;
    }
  }

  .product-customization {
    color: $font;
    padding: 1em;
    width: 60%;
    margin-left: 3em;

    .link {
      text-decoration: none;
      color: $font;
    }

    .quantity {
      display: flex;
      align-items: center;
    }

    .product-name {
      color: $font;
    }

    .custom-form {
      .price-form {
        color: $font;
      }

      .ocassion-form {
        color: $font;
      }

      .message-form {
        color: $font;
      }

      .price-input-container {
        width: 100%;
        display: flex;
        align-items: center;

        .value {
          margin-right: 1em;
        }

        .range {
          width: 100%;
        }

        .range-wrapper {
          margin: 0;
        }

        .range-input {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          cursor: pointer;
          outline: none;
          border-radius: 15px;
          height: 6px;
          background: #ccc;
        }

        .range-input::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          height: 15px;
          width: 15px;
          background-color: $font;
          border-radius: 50%;
          border: none;
          transition: 0.2s ease-in-out;
        }

        .range-input::-moz-range-thumb {
          height: 15px;
          width: 15px;
          background-color: $font;
          border-radius: 50%;
          border: none;
          transition: 0.2s ease-in-out;
        }

        .range-input::-moz-range-thumb:hover {
          box-shadow: 0 0 0 10px rgba(50, 0, 48, 0.2);
        }
        .range-input:active::-moz-range-thumb {
          box-shadow: 0 0 0 13px rgba(50, 0, 48, 0.2);
        }
        .range-input:focus::-moz-range-thumb {
          box-shadow: 0 0 0 13px rgba(50, 0, 48, 0.2);
        }

        .value {
          margin-bottom: 1em;
        }
      }
      .checkbox-container {
        display: flex;
        align-items: center;

        fieldset {
          margin-bottom: 0 !important;
        }

        img {
          height: 3em;
          border-radius: 0.375em;
          margin-right: 1em;
        }

        .form-check {
          padding-left: 0;
        }

        .checkbox-hidden {
          position: absolute;
          transform: scale(0);
        }
        .checkbox-label {
          cursor: pointer;
          display: inline-block;
          border-radius: 0.375em;
          padding: 0.1rem 0.5rem;
          background-color: transparent;
          color: $font;
          border: solid;
          border-width: thin;
          border-color: $font;
          // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .checkbox-hidden:checked + .checkbox-label {
          background-color: $font;
          color: #fff;
        }
      }
    }
  }
}
