<div class="footer">

  <div class ="footer-item">
    <ul class="list-inline">
      <li>
        <a href="https://www.instagram.com/solstice.fleuriste/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/solsticefleuriste?locale=fr_FR" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
