<h1 class="title">Mon Compte</h1>
<div class="container d-flex justify-content-between">
  <div class="account-orders">
    <h2 class="text-center">Mes commandes</h2>
  </div>
  <div class="account-info">
    <h2 class="text-center">Mes infos</h2>
  </div>
</div>
