<h1 class="title">Mon Compte</h1>
<div class="container">
  <div class="admin-links">
      <a class="admin-link" href="<%=panier_path%>"><h5><i class="fa-solid fa-cart-shopping"></i> Mon Panier</h5></a>
      <a class="admin-link" href="<%=commandes_path%>"><h5><i class="fa-solid fa-book"></i> Mes Commandes passées</h5></a>
      <a class="admin-link" href="<%=edit_user_registration_path%>"><h5><i class="fa-solid fa-user"></i> Mes infos personnelles</h5></a>
  </div>
</div>
