<h1 class= "title">Admin</h1>
<div class="container">
  <div class="admin-links">
    <a class="admin-link" href="<%=orders_path%>"><h5><i class="fa-solid fa-list"></i> Mes Commandes</h5></a>
    <a class="admin-link" href="<%=categories_path%>"><h5><i class="fa-solid fa-book"></i> Mon Catalogue</h5></a>
    <a class="admin-link" href="<%=polygon_path(Polygon.last)%>"><h5><i class="fa-solid fa-truck"></i> Zone de Livraison</h5></a>
  </div>
</div>
