<h1 class= "title">La Boutique</h1>
<div class="container">
  <div class="boutique-infos">
    <div class="boutique-adresse boutique-infos-section">
        <h2>Adresse :</h2>
        <p>Solstice Fleuriste</p>
        <p>32 rue Joseph Suacot,</p>
        <p>97429, Petite Île</p>
        <p>La Réunion</p>
    </div>
    <div class="boutique-map boutique-infos-section">
      <h2>Nous trouver :</h2>
    </div>
    <div class="boutique-horaires boutique-infos-section">
      <h2>Horaires d'ouverture :</h2>
      <p>Lundi : Fermé</p>
      <p>Mardi : 9h00 - 12h00 | 14h00 - 18h00</p>
      <p>Mercredi : 9h00 - 12h00 | 14h00 - 18h00</p>
      <p>Jeudi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Vendredi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Samedi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Dimanche : 9h00 - 12h00 </p>
    </div>
    <div class="boutique-contact boutique-infos-section">
      <h2>Nous contacter :</h2>
      <p><i class="fa-solid fa-envelope"></i> laurie@solsticefleurs.com</p>
      <p><i class="fa-solid fa-mobile"></i> +262 693 61 32 74</p>
      <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
    </div>
  </div>
</div>
