<div class="container">
 <div class="contact-section-container">
    <div class="contact-section">
      <h1>Evénements </h1>
      <div class="contact-section-content">
        <div class="contact-section-text">
          <p>Vous souhaitez fleurir un évènement ?.</p>
          <p>Qu'il s'agisse d'un mariage, baptême, anniversaire, communion ou événement professionnel... Nous faisons de votre rêve une réalité fleurie.</p>
          <p>N'hésitez pas à nous contacter !</p>
        </div>
          <p><a class="btn-action" href="<%= contact_path %>">Nous contacter</a></p>
        <div class="contact-section-image">
          <%= image_tag "evenements-link.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
