


<h1 class="heading-home pb-4 text-center">Artisan Fleuriste à Petite Île</h1>
<div class="text-center">
  <%= link_to "Découvrir mes Créations", creations_path, class:"btn-cta-home text-center" %>
</div>

<div class="home-menu">
  <div class="home-menu-element">
  </div>
  <div class="home-menu-element">
  </div>
  <div class="home-menu-element">
  </div>
  <div class="home-menu-element">
  </div>
</div>
