<h1 class= "title">Nous contacter</h1>
<div class="container">
  <div class="call-me">
    <p>Pour toute demande spécifique (événement, composition particulère...) ou toute question, n'hésitez pas à nous appeler ! </p>
    <p><i class="fa-solid fa-mobile"></i> +262 693 61 32 74</p>
    <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
  </div>
  <div class="contact">
    <%= render 'form', contact: @contact %>
  </div>
</div>
