<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Votre Commande # <%= @order.id %> est prête !!</h3>
    <h3 class="text-center">Click & Collect</h3>
    <p class="text-center">Commande à récupérer en Boutique : </p>
    <div class="shop-info">
      <div class="address-home">
        <p><i class="fa-solid fa-home"></i> 32 Rue Joseph Suacot, Petite Île</p>
        <p>97429, La Réunion</p>
        <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
      </div>
      <p class="text-center"><i class="fa-solid fa-clock fw-bold"></i>  Horaires d'ouverture :</p>
      <div class="time">
        <p>Lundi : Fermé</p>
        <p>Mardi : 9h00 - 12h00 |  14h00 - 18h00</p>
        <p>Mercredi : 9h00 - 12h00 |  14h00 - 18h00</p>
        <p>Jeudi : 9h00 - 12h30 |  14h30 - 18h30</p>
        <p>Vendredi : 9h00 - 12h30 |  14h30 - 18h30</p>
        <p>Samedi : 9h00 - 12h30 |  14h30 - 18h30</p>
        <p>Dimanche : 9h00 - 12h00</p>
      </div>
    </div>
  </body>
</html>
