<h1 class="title">Récapitulatif de votre Commande</h1>
<div class="container">
  <div class="recap-order-header d-flex justify-content-between">
    <h2>Commande #<%= @order.id  %> / Total : <%= humanized_money_with_symbol @order.total %></h2>
    <button id="pay" class="btn-action">Payer la commande</button>
  </div>

  <div class="recap-order-details d-flex">
    <div class="recap-order-info">
      <% if @order.transport == "Click & Collect" %>
        <h3 class="text-center">Click & Collect</h3>
        <p class="text-center">Commande à récupérer en Boutique : </p>
        <div class="shop-info">
          <div class="address-home">
            <p><i class="fa-solid fa-home"></i> 32 Rue Joseph Suacot, Petite Île</p>
            <p>97429, La Réunion</p>
            <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
          </div>
          <p><i class="fa-solid fa-clock fw-bold"></i>  Horaires d'ouverture :</p>
          <div class="time">
            <p>Lundi : Fermé</p>
            <p>Mardi : 9h00 - 12h00 |  14h00 - 18h00</p>
            <p>Mercredi : 9h00 - 12h00 |  14h00 - 18h00</p>
            <p>Jeudi : 9h00 - 12h30 |  14h30 - 18h30</p>
            <p>Vendredi : 9h00 - 12h30 |  14h30 - 18h30</p>
            <p>Samedi : 9h00 - 12h30 |  14h30 - 18h30</p>
            <p>Dimanche : 9h00 - 12h00</p>
          </div>
        </div>
      <% else %>
        <h3>Livraison</h3>
      <% end %>
    </div>
    <div class="recap-order-items">
    </div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>

  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      console.log("PAY");
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
