.card-category {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;

  .category-header {
    display: flex;
    justify-content: space-between;
  }

  .category-actions {
    display: flex;
    align-items: center;
    width: 7%;
    justify-content: space-between;
  }
}
