.cart-item {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;

  .cart-item-header {
    display: flex;
    justify-content: space-between;
  }

  .cart-item-actions {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
  }

  .cart-item-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    .cart-item-spec {
      display: block;
      width: 80%;
      padding-left: 0;
      padding-top: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
    }

    .cart-item-spec2 {
      width: 40%;
    }
  }
  .total {
    border-top: solid;
    border-top-width: thin;
    padding-top: 0.5em;
  }
  .cart-item-images {
    margin-bottom: 1em;
    display: inline;
    padding-left: 0;
  }

  .cart-item-images img {
    height: 6em;
    border-radius: 50%;
  }

  .checkbox-container {
    display: flex;
    align-items: center;

    fieldset {
      margin-bottom: 0 !important;
    }

    img {
      height: 3em;
      border-radius: 0.375em;
      margin-right: 1em;
    }

    .form-check {
      padding-left: 0;
    }

    .checkbox-hidden {
      position: absolute;
      transform: scale(0);
    }
    .checkbox-label {
      cursor: pointer;
      display: inline-block;
      border-radius: 0.375em;
      padding: 0.1rem 0.5rem;
      background-color: transparent;
      color: $font;
      border: solid;
      border-width: thin;
      border-color: $font;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .checkbox-hidden:checked + .checkbox-label {
      background-color: $font;
      color: #fff !important;
    }
  }
}
