#footer-container {
  min-height: 100vh;
}

.footer {
  height: 40px;
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.footer ul {
  padding: 0px;
}


.list-inline li {
  display : inline-block;
  padding: 0px 20px;
}

.list-inline i {
  font-size: 24px;
  color: $dark-green;
}

.footer a {
  text-decoration: none;
  color: $dark-green;
}

span {
  font-size: 20px;
  margin: 0px 30px;
}

@media(max-width: 1300px) {
  .footer-item:nth-child(2) {
    display: none;
  }
}
