#footer-container {
  min-height: 100vh;
}

.footer {
  width: 100%;
  background-color: $color1;
  color: white;
  padding-top: 1em;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-content-element {
  margin-right: 1em;
  margin-left: 1em;
}

.footer-content-element-header {
  font-size: 1.2em;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-footer-element {
  margin-right: 1em;
  margin-left: 1em;
}

.footer ul {
  padding: 0px;
}

.social {
  li {
    display: inline-block;
    padding: 0px 20px;
  }
}

.social i {
  font-size: 3em;
  color: $white;
}
.payment i {
  font-size: 1.5em;
  color: $white;
}

.footer a {
  text-decoration: none;
  color: $white;
}

span {
  font-size: 20px;
  margin: 0px 30px;
}

@media (max-width: 1300px) {
  .footer-item:nth-child(2) {
    display: none;
  }
}
