.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: $background;
  padding: 0.5em;
  width: 100%;
  height: 8em;
  color: $font;
  padding-bottom: 0;
  padding-top: 5em;

  .modal-dialog {
    position: absolute;
    top: 24%;
    right: 0%;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }

  .modal-content {
    border: solid;
    border-width: thick;
    border-color: $color1;
  }

  .modal-title {
    margin-left: 0.5em;
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-header {
    border: none;
  }
}

.navbar-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

.navbar-block:first-child > div {
  margin-right: auto;
}

.navbar-block:last-child > div {
  margin-left: auto;
}

.navbar-lewagon .navbar-brand img {
  width: 11em;
}

.navbar-user-content {
  display: flex;
  align-items: center;
}

.navbar-menu-content {
  display: flex;
  align-items: center;
}

.session-info {
  font-size: 10px;
}

.nav-item {
  font-size: 1.2em;
  color: $color1 !important;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

.nav-link {
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
}

.cart {
  position: relative;
}

#cart-content {
  display: none;
}

.cart-content {
  position: absolute;
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  top: 85%;
  right: 2%;
  z-index: 100;
  padding-bottom: 0em;
  width: 16em;
}

.cart-content-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 4em;
  margin-top: 1em;
  border-bottom: solid;
  padding-bottom: 1em;
  border-bottom-width: thin;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    height: 100%;
    border-radius: 0.5em;
  }

  .cart-content-item-info {
    display: block;
    padding-left: 1em;
  }
}

.order-total {
  margin-top: 1em;
}

.dropdown-menu {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
  border: none;
  p {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: thin;
  }
}
