.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 0em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 6em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.session-info {
  font-size: 10px;
}

.hello {
  background-color: $color2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
}

.cart {
  position: relative;
}

#cart-content {
  display: none;
}

.cart-content {
  position: absolute;
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  top: 52%;
  left: 79%;
  z-index: 100;
  padding-bottom: 0em;
}

.cart-content-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 6em;
  margin-top: 1em;

  img {
    height: 100%;
    border-radius: 0.5em;
  }

  .cart-content-item-info {
    display: block;
    padding-left: 1em;
  }
}

.order-total {
  margin-top: 1em;
}

.dropdown-menu {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
  p {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: thin;
  }
}
