.btn-action {
  background-color: $pink;
  border-radius: 5px;
  padding: 12px;
  text-decoration: none !important;
  font-family: $body-font;
  font-size: 14px;
  color: white !important;
  border: none;
}
