.btn-action {
  background-color: $pink;
  padding: 12px;
  text-decoration: none !important;
  font-family: $body-font;
  color: white !important;
  border: none;

  font-size: 1em;
  line-height: 1.2;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.375em;
}

.btn-filter {
  height: 2em;
  font-size: 0.8em;
}
