<p>Hello <%= @resource.email %>!</p>

<p>Vous avez demandé à réinitialiser votre mot de passe. Pour cela, cliquez sur le lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas suivi le lien ci-dessous et créé un nouveau mot de passe.</p>
